# Default ignored files
/shelf/
/workspace.xml
/android/.idea/*
/.idea/
/.dart_tool/
/.classpath
/.project
/.settings/
/.factorypath
/.gradle/
/build/
*.iml
*.ipr
*.iws
*.jar
*.war
*.ear
*.dll
*.so
*.class
*.psd
*.db
*.sdf
*.dbf
*.log
*.tmp
*.suo
*.ncb
*.sln
